body {
  margin: 0 auto;
}
.container{
  display: flex;
  height: 100svh;
  justify-content: center;
  align-items: center;
  position: relative;
}
.leaflet-container {
  transform-origin: center center;
  transition: transform 0.5s;
}

.controls-btn {
  position: absolute;
  width: 30svh;
  top: 6rem; /* Adjust top position as needed */
  left: 10px; /* Adjust left position as needed */
  z-index: 1;
}
