body {
  margin: 0 auto;
}
.container{
  display: flex;
  height: 100svh;
  justify-content: center;
  align-items: center;
  position: relative;
}
.leaflet-container {
  transform-origin: center center;
  transition: transform 0.5s;
}
.controls-btn {
  background-color: white;
  position: absolute;
  min-width: 30svh;
  top: 8rem;
  left: 10px;
  z-index: 1000;
  padding: 0rem;
  height: 75vh;
  overflow-x: auto;
}
.controls {
  padding: 1rem;
}
.custom-icon i, .custom-icon div {
  /* transform: rotate(130deg); */
  margin: -5px;
}
.marker-card .ant-card-meta-avatar{
  display: flex;
  align-items: center;
}
.marker-description p {
  margin: 0;
}
.marker-form .ant-form-item-label {
  padding: 0;
}
